@font-face {
    font-family: 'Inria-L';
    src: url(../Assets/Inria_Sans/InriaSans-Light.ttf);
}
@font-face {
    font-family: 'Inria-M';
    src: url(../Assets/Inria_Sans/InriaSans-Regular.ttf);
}
@font-face {
    font-family: 'Inria-B';
    src: url(../Assets/Inria_Sans/InriaSans-Bold.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(../Assets/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

/* global */

:root {
    --WhiteF: #fff;
    --AccentBlue: #003049;
}

* {
    font-family: 'Inria-M';
    background-color: var(--WhiteF);
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
}

/* common ones */

.bar {
    width: 1085px;
    height: 3px;
    background-color: var(--AccentBlue);
    margin-left: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vertical-white-bar {
    background-color: var(--WhiteF);
    width: 4px;
    height: 40px;
}

.vertical-blue-bar {
    background-color: var(--AccentBlue);
    width: 4px;
    height: 40px;
}

.vertical-blue-bar {
    background-color: var(--AccentBlue);
    width: 4px;
    height: 40px;
}

.bar-h1-pair {
    display: flex;
    align-items: center;
}

button {
    width: 120px;
    height: 30px;
    font-family: 'Inria-M';
    border-radius: 0;
    padding: 0;
    transition: 0.4s ease;
}

button:hover, #svg-learn-more, #profile {
    cursor: pointer;
}

.buttons-pair {
    display: flex;
    align-items: center;
}

#sign-up {
    background-color: var(--WhiteF);
    color: var(--AccentBlue);
    border: 2px solid var(--AccentBlue);
    font-family: 'Inria-M';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-right: 20px;
}

#browse-projects {
    width: 236px;
    height: 48px;
    font-family: "Inria-M";
    font-size: 20px;
    font-weight: 400;
    flex-shrink: 0;
    color: var(--WhiteF);
    border: 3px solid var(--WhiteF);
    background-color: transparent;
}

#learn-more, #login {
    background-color: var(--AccentBlue);
    color: var(--WhiteF);
    font-family: 'Inria-M';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    border: none;
}

#add-project {
    width: 200px;
    height: 40px;
    background-color: var(--AccentBlue);
    box-shadow: 0px 0px 20px 0px rgba(0, 48, 73, 0.30);
    color: var(--WhiteF);
    font-family: 'Inria-M';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    border: none;
    position: relative;
}

/* header */
header {
    width: 100vw - calc(54px);
    padding-left: 27px;
    padding-right: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    scroll-snap-align: start;
}

header #logo {
    height: 30px;
}

header .search-section {
    display: flex;
    align-items: center;
}

header input {
    width: 360px;
    height: 30px;
    color: var(--AccentBlue);
    border: 2px solid var(--AccentBlue);
    font-family: 'Inria-M';
    font-weight: 400;
    border-radius: 15px;
    padding-left: 20px;
    transition: 0.4s ease;
    font-family: 'Inria-B';
    margin-left: -50px;
}

header input::placeholder {
    font-family: 'Inria-L';
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    color: var(--AccentBlue);
}

header input:focus {
    outline: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 48, 73, 0.25);
}

header #search-btn {
    height: 30px;
    width: 90px;
    color: var(--WhiteF);
    background-color: var(--AccentBlue);
    border: none;
    border-radius: 15px;
    margin-left: 10px;
}

header #home {
    height: 30px;
}

.hero-section {
    width: 100vw - calc(54px);
    padding-right: 27px;
    display: flex;
    align-items: center;
    column-gap: 180px;
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 50px;
    margin-top: -10px;
}

.hero-section * {
    background-color: transparent;
}

.hero-section .left-hero-section h1 {
    width: 600px;
    color: var(--AccentBlue);
    font-family: 'Inria-B';
    font-size: 50px;
    font-weight: 700;
}

.hero-section .left-hero-section p {
    width: 600px;
    color: var(--AccentBlue);
    font-family: "Inria-L";
    font-size: 22px;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 32px;
}

.hero-section img { 
    height: 230px;
    /* margin-left: -160px; */
}

#game-dev-img {
    height: 200px;
    margin-left: -50px;
}

/* section-1 */
.section-1 {
    padding-top: 50px;
    margin-bottom: 170px;
    scroll-snap-align: start;
}

.section-1-head {
    margin-left: 40px;
}

.section-1 h1 {
    margin-left: 15px;
}

.section-1 #section-1-p {
    font-family: 'Inria-L';
    font-size: 16px;
    margin-top: 20px;
    margin-left: 38px;
    margin-right: 38px;
    font-weight: 300;
}

/* project card styling */
.projects-container {
    width: calc(100vw - 76px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 35px;
    column-gap: 32px;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 38px;
    padding-bottom: 50px;
}


.project {
    width: 320px;
    height: fit-content;
    box-shadow: 0px 0px 25px 0px rgba(0, 48, 73, 0.25);
    transition: 0.4s ease;
}
.project:hover {
    transform: translateY(-5%);
    scale: 1.04;
}

.project .top-portion, .project .mid-portion, .project .bottom-portion {
    width: inherit - 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.project .top-portion {
    height: 60px;
    background-color: var(--AccentBlue);
    display: flex;
    align-items: center;
}

.top-portion * {
    color: var(--WhiteF);
    background-color: transparent;
}

.top-portion .profile-circle {
    background-color: var(--WhiteF);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
}


.project-name {
    width: inherit - calc(40px);
    color: var(--AccentBlue);
    font-family: "Inria-B";
    font-size: 17px;
    margin-top: 10px;
}
.owner-id {
    font-family: 'Inria-L';
    font-size: 10px;
}
.owner-name {
    font-family: 'Inria-B';
    font-size: 20px;
}
.project-description {
    font-family: 'Inria-L';
    font-size: 14px;
    margin-top: 7px;
}
.project ul {
    margin-top: 25px;
    display: flex;
    align-content: center;
}
.project ul li {
    background: rgba(0, 48, 73, 0.60);
    padding: 2px;
    list-style: none;
    font-size: 12px;
    margin-right: 5px;
    color: var(--WhiteF);
}
.learn-more-btn {
    width: 160px;
    height: 25px;
    background-color: var(--AccentBlue);
    color: var(--WhiteF);
    font-family: 'Inria-B';
    font-size: 15px;
    border: 2px solid var(--AccentBlue);
    margin-bottom: 10px;
    margin-top: 10px;
}
.learn-more-btn:hover {
    background-color: var(--WhiteF);
    border-color: var(--AccentBlue);
    color: var(--AccentBlue);
}


/* section-5 */
.section-5 {
    background: linear-gradient(0deg, rgba(0, 48, 73, 0.7) 0%, rgba(0, 48, 73, 0.7) 100%),
                url(../Assets/Images/LandingPage1.png) lightgray 50% / cover no-repeat;
    width: 100vw - calc(140px);
    height: 400px;
    padding-top: 70px;
    padding-left: 40px;
    margin-top: 70px;
    overflow: hidden;
    display: flex;
    align-content: center;
    scroll-snap-align: center;
}

.section-5 * {
    background-color: transparent;
    color: var(--WhiteF);
}

.section-5 .vertical-white-bar {
    background-color: var(--WhiteF);
}

.section-5-left {
    height: 100%;
    display: grid;
    align-content: center;
}

.section-5-left .section-5-head {
    margin-top: -50px;
}

.section-5 .section-5-left p {
    width: 400px;
    font-size: 18px;
    font-family: 'Inria-L';
    margin-top: 20px;
}

.section-5 h1 {
    margin-left: 15px;
}

.section-5-right {
    display: flex;
    align-content: center;
}

.section-5-right img {
    height: 226px;
    width: 226px;
}

.step-two {
    margin-left: -80px;
    margin-top: 125px;
    animation-delay: 1s;
}
.step-three {
    margin-left: -80px;
    animation-delay: 1.5s;
}
.step-four {
    margin-left: -80px;
    margin-top: 125px;
    animation-delay: 2s;
}

/* animations */

/* Step 1 */
.step-one-hide {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100px) translateY(-100px);
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.step-one-show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px) translateY(0px);
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Step 2 */
.step-two-hide {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100px) translateY(-100px);
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.step-two-show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px) translateY(0px);
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition-delay: 0.3s;
}

/* Step 3 */
.step-three-hide {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100px) translateY(100px);
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.step-three-show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px) translateY(0px);
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition-delay: 0.6s;
}

/* Step 4 */
.step-four-hide {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100px) translateY(-100px);
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.step-four-show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px) translateY(0px);
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition-delay: 0.9s;
}

/* footer */
footer {
    width: 1060px;
    height: 470px;
    border: 10px solid var(--AccentBlue);
    background: var(--WhiteF);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    margin-top: 100px;
}

footer h1 {
    color: var(--AccentBlue);
    font-family: "Inria-B";
    font-size: 60px;
    font-weight: 700;
}