@font-face {
    font-family: 'Inria-L';
    src: url(../../Assets/Inria_Sans/InriaSans-Light.ttf);
}
@font-face {
    font-family: 'Inria-M';
    src: url(../../Assets/Inria_Sans/InriaSans-Regular.ttf);
}
@font-face {
    font-family: 'Inria-B';
    src: url(../../Assets/Inria_Sans/InriaSans-Bold.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(../../Assets/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

/* global */

:root {
    --WhiteF: #fff;
    --AccentBlue: #003049;
}

* {
    font-family: 'Inria-M';
    background-color: var(--WhiteF);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

/* left-part */
.left-part {
    width: 50vw;
}

/* logo */
.left-part #logo {
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

/* title */
.left-part span {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 80px;
}

.left-part span #bar {
    height: 42px;
    width: 6px;
    background-color: var(--AccentBlue);
}

.left-part span h1 {
    font-family: 'Inria-B';
    font-size: 35px;
    font-weight: 700;
    color: var(--AccentBlue);
    margin-left: 15px;
}

.left-part h3 {
    font-family: 'Inria-L';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    color: var(--AccentBlue);
    margin-left: 58px;
    margin-top: 5px;
}

/* form */
.left-part .form {
    margin-top: 40px;
    margin-left: 50px;
}

.left-part .form div {
    position: relative;
}

/* form fields */
.form input {
    font-family: 'Inria-M';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    color: var(--AccentBlue);
    height: 50px;
    width: 350px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0px rgba(0, 48, 73, 0.1);
    padding-left: 60px;
    margin-bottom: 20px;
    transition: 0.5s ease;
}

.form input::placeholder {
    font-family: 'Inria-L';
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    color: var(--AccentBlue);
}

.form input:focus {
    border-color: var(--AccentBlue);
    outline: none;
    box-shadow: 0px 0px 20px 0px rgba(0, 48, 73, 0.25);
}

.form img {
    height: 25px;
    position: absolute;
    top: calc(17%);
    left: calc(3.5%);
    background-color: transparent;
}

.last-name img {
    height: 20px;
    margin-top: 4px;
    margin-left: -4px;
}


.mail img {
    width: 25px;
    height: auto;
    margin-top: 4px;
}

.qualification img {
    margin-left: -2px;
}

/* form buttons */
.left-part .buttons {
    width: 400px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#login, #signup {
    width: 188px;
    height: 40px;
    border-radius: 0;
    padding: 0;
    transition: 0.4s ease;
}

#login:hover, #signup:hover {
    scale: 1.03;
}

#signup {
    background-color: var(--AccentBlue);
    color: var(--WhiteF);
    font-family: 'Inria-M';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    margin-top: 17px;
}

#login {
    background-color: var(--WhiteF);
    color: var(--AccentBlue);
    border: 3px solid var(--AccentBlue);
    font-family: 'Inria-M';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.login p {
    color: var(--AccentBlue);
    font-family: "Inria-M";
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 5px;
}

/* right-part */
.right-part {
    background: linear-gradient(rgba(0, 48, 73, 0.55), rgba(0, 48, 73, 0.55)),
                url('../../Assets/Images/SignUpBG.jpg') no-repeat center center / cover;
    height: 910px;
    width: 50vw;
}